body{
  font-family: 'Noto Sans', sans-serif;
}
.title, .about , .my-skills, .my-work, .contact, .main, .card{
  text-align: center;
  color: #29bf89;

}
.main{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,238fba+73,ffffff+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 1%, #238fba 73%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 1%,#238fba 73%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 1%,#238fba 73%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

h1, h2, p{
  margin: 2rem auto;
}
/* 7E8D85 0083BB BDBDBE 29bf89 FFF*/
.introduction-header{
  margin: 20% auto;
  color: #FFF;
}
.my-work{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,238fba+73,ffffff+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 1%, #238fba 73%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 1%,#238fba 73%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 1%,#238fba 73%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.title{
  color: #29bf89;
  background-color: #fff;
}

.me-photo{
  margin: 10% auto;
  width: 80%;
  background-color: #e3e3e3;
  border: solid #c9c9c9;
  border-radius: 90%;
}
.about{
  margin: 10% auto;
}
.about img{
  width: 100%;
  border-radius: 3%;
}
.about-text{
  margin: 10% auto;
  font-size: 2rem;
}
.card{
  margin: 5rem auto;
}
